{% extends 'MsiCmfBundle:Page:layout.html.twig' %}

{% block css %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('bundles/unikcore/css/style.css') }}">
{{ parent() }}
{% endblock css %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
<script src="{{ asset('bundles/unikcore/vendor/superfish-1.4.8/js/hoverIntent.js') }}"></script>
<script src="{{ asset('bundles/unikcore/vendor/superfish-1.4.8/js/superfish.js') }}"></script>
<script>
jQuery(function(){
    jQuery('ul.sf-menu').superfish({
        speed: 0,
        delay: 0,
        autoArrows: false,
        disableHI: true
    });
});
</script>
{{ parent() }}
{% endblock js %}

{% block body %}
<div id="menu">
    <div class="container">
        <div class="row">
            <div class="span2" style="width: 116px;">
                <h1 id="logo"><a href="{{ path('msi_page_home') }}">Uniktour</a></h1>
            </div>
            <div class="span10" style="width: 804px;">
                {{ knp_menu_render('UnikCoreBundle:MenuBuilder:mainMenu', {'allow_safe_labels': true, 'depth': 3}) }}
            </div>
        </div>
    </div>
</div>
<div id="header">
    <div class="container">
        <h2>
            voyager dans l'espace :
            <br>
            <small>une expérience qui sera bientôt la vôtre.</small>
        </h2>
        <br>
        <p>Avez-vous jamais imaginé contempler la planète bleue depuis les hauteurs de l’espace? UniktourSpace vous propose désormais cette expérience hors du commun et inoubliable.</p>
        <br>
        <p>Dans la continuité de notre concept de voyage individuel et personnalisé, vous voilà seul, avec votre pilote hautement expérimenté, à bord d’une navette spatiale pour un vol suborbital, en toute sécurité.</p>
        <br>
        <p>Soyez parmi les premiers à tenter l’aventure unique d’un vol spatial!</p>
        <br>
        <p><a class="btn" href="#">Réservez votre billet &rarr;</a></p>
    </div>
</div>
<div id="content">
    <div class="container">
        {% if page.home != true %}<h2>{{ block('title') }}</h2>{% endif %}
        {{ block('page_content') }}
        {% if page.home == true %}
        <div class="row" style="margin-top: 10px;">
            <div class="span3">
                <a href="{{ path('msi_page_show', {'slug': 'le-vol-spatial'}) }}"><img src="{{ asset('uploads/images/featured1.jpg') }}" alt="0"></a>
                <h4>Le vol spatial</h4>
                <p><small>Contrairement aux autres engins spatiaux déjà existants, comme la navette spatiale développée par la NASA, le Lynx Mark II est équipé d’un système indépendant de décollage et d’atterrissage.</small></p>
            </div>
            <div class="span3">
                <a href="{{ path('msi_page_show', {'slug': 'description-de-la-navette-lynx-2'}) }}"><img src="{{ asset('uploads/images/featured2.jpg') }}" alt="0"></a>
                <h4>La navette lynx mark II</h4>
                <p><small>La navette Lynx Mark II est un spationef particulier. SXC a sélectionné cet appareil pour ses spécificités techniques remarquables qui assurent confort et sécurité pour une expérience spatiale unique.</small></p>
            </div>
            <div class="span3">
                <a href="{{ path('msi_page_show', {'slug': 'les-spatioports'}) }}"><img src="{{ asset('uploads/images/featured3.jpg') }}" alt="0"></a>
                <h4>Les spatioports</h4>
                <p><small>Idéalement situé – à peine 2 heures de route de Los Angeles et 3 de Las Vegas, le Spatioport de Mojave est un point de départ parfait pour votre expédition spatiale.</small></p>
            </div>
            <div class="span3">
                <a href="{{ path('msi_page_show', {'slug': 'programme-d-entrainement'}) }}"><img src="{{ asset('uploads/images/featured4.jpg') }}" alt="0"></a>
                <h4>Programme d'entraînement</h4>
                <p><small>Afin d’être complètement préparé à votre voyage spatial, vous avez la possibilité de participer à plusieurs missions d’entraînement optionnelles, en plus du programme déjà inclus.</small></p>
            </div>
        </div>
        <hr>
        <p class="lead" style="text-align: center;">{{ 'home_content_slogan'|trans }}</p>
        {% endif %}
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h4>{{ 'menu'|trans }}</h4>
                <div class="row">
                    <div class="span3">
                        {{ knp_menu_render('UnikCoreBundle:MenuBuilder:footerLeftMenu', {'allow_safe_labels': true, 'depth': 3}) }}
                    </div>
                    <div class="span3">
                        {{ knp_menu_render('UnikCoreBundle:MenuBuilder:footerRightMenu', {'allow_safe_labels': true, 'depth': 3}) }}
                    </div>
                </div>
            </div>
            <div class="span6">
                <h4>{{ 'contact'|trans }}</h4>
                <div class="row">
                    <div class="span3">
                        <p>
                            Tél : 514-722-0909
                            <br>
                            Sans frais : 1-866-722-0909
                            <br>
                            Courriel : info@uniktourspace.com
                        </p>
                        <p>
                            <strong>Uniktour Space Inc.</strong>
                            <br>
                            555 Boulevart René-Lévesque Ouest RC-03
                            <br>
                            Montréal, QC H2Z 1B1
                        </p>
                        <p><a target="_blank" href="https://maps.google.ca/maps?q=555+Boulevart+Ren%C3%A9-L%C3%A9vesque+Ouest+Montreal&amp;hl=en&amp;ie=UTF8&amp;sll=45.558042,-73.730303&amp;sspn=0.769244,1.841583&amp;hnear=555+Boulevard+Ren%C3%A9-L%C3%A9vesque+Ouest,+Montr%C3%A9al,+Communaut%C3%A9-Urbaine-de-Montr%C3%A9al,+Qu%C3%A9bec+H2Z&amp;t=m&amp;z=16">Ouvrir dans Google Maps</a></p>
                    </div>
                    <div class="span3">
                        <p><strong>INFOLETTRE</strong></p>
                        <p>En vous abonnant à notre liste de diffusion, vous serez toujours à jour avec les dernières nouvelles de notre part.</p>
                        <form method="POST" action="">
                            <input type="text" placeholder="votre.adresse@email.com">
                            <button class="btn" type="submit">Je m'inscris</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="subfooter">
    <div class="container">
        <div class="pull-right">
            <a target="_blank" href="#"><img src="{{ asset('bundles/unikcore/img/layout/facebook.png') }}" alt="Facebook"></a>
            <a target="_blank" href="#"><img src="{{ asset('bundles/unikcore/img/layout/twitter.png') }}" alt="Twitter"></a>
            <a target="_blank" href="#"><img src="{{ asset('bundles/unikcore/img/layout/youtube.png') }}" alt="Youtube"></a>
        </div>
        <img class="pull-left" src="{{ asset('bundles/unikcore/img/layout/ft_logo.png') }}" alt="Unikspace">
        <p style="margin: 12px 0 0;">
        <small>
            Détenteur permis du Québec #700447
            <br>
            &copy; {{ 'now'|date('Y') }} Uniktour. Tous droits réservés. Montréal-Québec-Ottawa, Canada.
        </small>
        </p>
    </div>
</div>
{% endblock body %}
