{% extends 'MsiCmfBundle:Page:layout.html.twig' %}

{% block css %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('bundles/miacore/vendor/supersized/core/css/supersized.core.css') }}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ asset('bundles/miacore/css/style.css') }}">
{{ parent() }}
<script>
function nl(t){t.className=t.className.replace(new RegExp(/\shide|hide\s|hide/),'');}
</script>
{% endblock css %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
<script src="{{ asset('bundles/miacore/vendor/supersized/core/js/supersized.core.3.2.1.min.js') }}"></script>
<script>
$(document).on('ready', function() {
    $.supersized({
        slides: [ {image : '/uploads/images/bg.jpg', title : 'Image Credit: Mia Hébert'} ]
    });
    $('div#supersized img').on('load', function() {
        $('div#container').removeClass('hide');
    });
});
</script>
{{ parent() }}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36922705-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock js %}

{% block body %}
<div id="container" class="container hide">
    <div id="header">
        <h1 id="logo"><a href="{{ path('msi_page_home') }}">Mia Hébert</a></h1>
        <p style="margin: -10px 0 30px; color: #fff;">artiste</p>
        <div class="clearfix"></div>
        <div class="menu-wrapper">{{ knp_menu_render('MiaCoreBundle:MenuBuilder:mainMenu', {'allow_safe_labels': true, 'depth': 3}) }}</div>
        <div class="clearfix"></div>
        <hr>
    </div>
    <div id="content">
        {% if page.id and page.home != true %}<h2>{{ block('title') }}</h2>{% endif %}
        {{ block('page_content') }}
    </div>
    <div id="footer">
        <hr>
        <div class="menu-wrapper">{{ knp_menu_render('MiaCoreBundle:MenuBuilder:mainMenu', {'allow_safe_labels': true, 'depth': 3}) }}</div>
        <div class="clearfix"></div>
        <p style="margin-top: 20px;"><small>&copy; {{ 'now'|date('Y') }} Mia Hébert</small></p>
    </div>
</div>
{% endblock body %}
